<!-- <!DOCTYPE html>
<head>
    <title>Contact</title>
</head>
<body>
    <h1>Email : rajatupadhyaya066@gmail.com</h1>
    <h2>Phone No : +91-7077936033</h2>
</body> -->

<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link

      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"

      rel="stylesheet"

    />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">

    <title>Contact</title>

  </head>

  <body>

    <nav>

      <div class="heading">

        <li><a href="/login">Login</a></li>

      </div>

      <ul class="nav-links">

        <li><a href="/">Home</a></li>

        <!-- <li><a href="about.html">About</a></li> -->

        <!-- <li><a class="active" href="services.html">Services</a></li> -->

        <li><a href="/contact">Contact</a></li>

      </ul>

    </nav>
        <h1>Email : rajatupadhyaya066@gmail.com</h1>
        <h2>Phone No : +91-7077936033</h2>

  </body>

</html>